h2{
    color:orange;
}

body{
    background-color: #008000;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

header{
    border-bottom: 1px solid white;
}

footer{
    border-top: 1px solid white;
}
#nome-usuário{
    font-weight: bold;
}
.texto-inglês{
    font-style: italic;
}